body {
  background-color: rgb(26, 131, 49);
  align-items: center;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 50px;
  font-weight: 700;
  margin-top: 150px;
}
p {
  color: rgb(242, 247, 247);
  font-size: 26px;
}
#message-el {
  font-style: italic;
}
button {
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  background-color: goldenrod;
  color: rgb(4, 73, 4);
  font-weight: bold;
  margin: 4px;
  cursor: pointer;
}
